@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
:root{
  --HEADBGCOLOR : rgb(1, 1, 100);
  --HEADCOLOR : whitesmoke;
  --MOBILESCREENWIDTH : 375px;
}
*{
  font-family: monospace;
}
.App-header{
  height: 90px;
  width: 100%;
  background-color: var(--HEADBGCOLOR);
  color: var(--HEADCOLOR);
  text-align: center;
  position: fixed;
  top: 0px;
  font-family: 'Righteous', cursive;
}
.App-navbar{
  margin-right: 50px;
}
.App-content{
  margin: 25px 30px;
  padding: 20px 30px;
  border: 1px solid rgb(153, 152, 152);
  border-radius: 20px;
  min-height: 300px;
}
#title{
  width: 400px;
  height: 40px;
  margin-bottom: 30px;
}
#contents{
  width: 700px;
  height: 60px;
  margin-bottom: 30px;
}
button{
  height: 40px;
  width: 100px;
  font-size: 16px;
  font-weight: bold;
  margin-right: 20px;
  cursor: pointer;
}
.item-adder{
  display: flex;
  flex-direction: column;
}
.empty, .msg{
    text-align: center;
}
#page-not-found{
  text-align: center;
}
#new-title{
  width: 400px;
  height: 40px;
  margin-bottom: 30px;
}
#new-contents{
  width: 700px;
  height: 60px;
  margin-bottom: 30px;
}
#edit-title{
  width: 350px;
  height: 40px;
  margin-bottom: 20px;
}
#edit-content{
  width: 500px;
  height: 200px;
  padding-top: 0px;
  margin-bottom: 20px;
}
.error, .loading{
  text-align: center;
  margin-top: 100px;
}
svg{
  width: 25px;
  height: 25px;
}
.ignore{
  display: none;
}
li:hover{
  border: 2px solid green;
}
.about > p{
  text-indent: 60px;
  font-size: 1.2rem;
}
@media screen and (max-width:375px) {
    .App-header > h1{
      font-size: 3.2rem;
      text-decoration: underline;
    }
    .App-header{
      height: 120px;
    }
    .App-content > h2{
      font-size: 4rem;
      width: var(--MOBILESCREENWIDTH);
      box-sizing: border-box;
    }
    main{
      padding-top: 120px;
    }
    .searchtool{
      height: 250px;
      flex-direction: column;
      align-items: flex-start;
    }
    #searchbox{
      margin-top: 40px;
      height: 80px;
      width: 800px;
      border-radius: 50px;
      font-size: 1.7rem;
    }
    .App-navbar{
      margin-left: 80px;
      margin-bottom: 30px;
    }
    .App-navbar > a{
      margin-right: 100px;
      padding-top: 50px;
      padding-left: 30px;
      padding-right: 30px;
    }
    svg{
      width: 40px;
      height: 40px;
    }
    li{
      height: 300px;
      font-size: 2.7rem;
      font-weight: bold;
      padding-left: 50px;
      padding-bottom: 20px;
    }
    .item-adder > h2{
      font-size: 3rem;
    }
    #title{
      height: 90px;
      width: 600px;
      font-size: 1.8rem;
      font-weight: bolder;
    }
    #contents{
      height: 200px;
      width: 800px;
      font-size: 2rem;
    }
    .item-adder > form > button{
      width: 160px;
      height: 75px;
      font-size: 25px;
      font-weight: bolder;
    }
    .item-editor > form > button {
      width: 140px;
      height: 70px;
      font-size: 2rem;
      border-radius: 30px;
    }
    .about > p{
      font-size: 2rem;
    }
    .about > h2{
      font-size: 3rem;
    }
    article > h2{
      font-size: 3rem;
    }
    article > p{
      font-size: 2.2rem;
    }
    article > button, article > a > button{
      width: 130px;
      height: 60px;
      font-size: 28px;
    }
    .item-editor > h2{
      font-size: 3rem;
      letter-spacing: 7px;
    }
    #edit-title{
      width: 500px;
      height: 70px;
      font-size: 2.5rem;
    }
    #edit-content{
      width: 800px;
      height: 300px;
      font-size: 2rem;
    }
}