:root{
  --BODYCOLOR : whitesmoke;
  --NAVBGCOLOR : grey;
}
body{
  margin: 0;
}
main{
  padding-top: 80px;
  width: 1350px;
  min-height: 2310px;
  background-color: var(--BODYCOLOR);
  margin: auto;
}
footer{
  margin: auto;
  width: 1350px;
  height: 200px;
  background-color: var(--BODYCOLOR);
  text-align: center;
  padding-top: 10px;
  font-size: 1.5rem;
  font-weight: bold;
}
label{
  position: absolute;
  left: -99999px;
}
.searchtool{
  width: 100%;
  height: 100px;
  background-color: var(--NAVBGCOLOR);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#searchbox{
  width: 300px;
  height: 40px;
  margin-left: 60px;
  padding-left: 20px;
  border-radius: 30px;
}
a{
  margin-right: 50px;
  text-decoration: none;
  color: whitesmoke;
  font-size: 1.5rem;
}
.App-content > p{
  text-indent: 60px;
}
li{
  list-style: none;
  font-size: 16px;
}
.edit-btn{
  background-color: green;
}
.delete-btn{
  background-color: red;
}